
@font-face {
    font-family: "ShaipFB";
    src: url('font/현대하모니 B.ttf');
}
app {
    font-family: "ShaipFB" !important;
}


/* Index 페이지 */
.index-pannel-icon
{
    /*width: 40px;
    height: 40px;*/
}

.index-pannel-icon-order {
    width: 40px;
    height: 37px;
    mask-image: url("../images/IndexPanel/order.svg");
    -webkit-mask-image: url("../images/IndexPanel/order.svg");
}

.index-pannel-icon-payment {
    width: 40px;
    height: 33px;
    mask-image: url("../images/IndexPanel/payment.svg");
    -webkit-mask-image: url("../images/IndexPanel/payment.svg");
}

.index-pannel-icon-purchasing {
    width: 40px;
    height: 45px;
    mask-image: url("../images/IndexPanel/purchasing.svg");
    -webkit-mask-image: url("../images/IndexPanel/purchasing.svg");
}

.index-pannel-icon-shipping {
    width: 40px;
    height: 40px;
    mask-image: url("../images/IndexPanel/shipping.svg");
    -webkit-mask-image: url("../images/IndexPanel/shipping.svg");
}


/* Logo 이미지*/
.sidebar > .logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    border-bottom: 1px solid #d6d5d5;
    border-radius: 0 !important;
    z-index: 1000;
}

.logo-container .logo-image {
    background-color: currentColor;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    cursor: pointer;
    margin-left: 16px;
    width: 125px;
    height: 40px;
    mask-image: url("../images/Logo/logo_95x30.svg");
    -webkit-mask-image: url("../images/Logo/logo_95x30.svg");
}

@media (max-width: 359.98px) {
    .logo-container .logo-image {
        width: 28px;
        height: 28px;
        mask-image: url("../images/Logo/logo_30x30.svg");
        -webkit-mask-image: url("../images/Logo/logo_30x30.svg");
    }
}


div.logo {
    padding-top: 10px;
    float: left;
    width: 100%;
}


/* LoginDisplay */
.sign-top-row {
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
}

.sign-top-row {
    position: sticky;    
}

.sign-top-row > a, form {
    white-space: nowrap;
    margin-left: 1.0rem;
}

.sign-top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}


.sign-top-row.auth {
    justify-content: space-between;
}


/* MatBlazor*/
.MatDialog-500px{
    width: 500px
}