@page "/TestComponent"







<AuthorizeView>
    <Authorized>
        <h3>TestComponent</h3>
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </Authorized>
    <NotAuthorized>
        <h3>NotAuthorized</h3> TestComponent
    </NotAuthorized>
</AuthorizeView>

